* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(0, 0, 0);
}

.movie-title {
  color: grey;
}

.fav-button {
  float: right;
}

.movie-img {
  display: block;
  height: 23rem;
  object-position: center;
  object-fit: cover;
  
}
