* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

h5 {
  color: black;
}

p {
  color: blue;
}

/* this is the button */
button {
  position: center;
  border: none;
  width: 100px;
  background: #dfdfdf;
  color: blue;
  font-size: 1.2rem;
  line-height: 1.8rem;
  cursor: pointer;
}
